@charset "ISO-8859-1";

main {
	position: relative;
	min-height: 660px;
}

footer {
	bottom: 0;
    text-align: center;
    background: #000000;
    height: 60px;
}

#copyright {
    color: #FFFFFF;
    font-size: 12px;
    padding: 20px 0;
}
#form_home_busca{
	padding-right: 2%;
}
#input_form_informacao{
	padding: 20px 10px 0 0;
}